/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color:#F5F5DC;
  
}

.header-main-top { z-index: 1000000;background-color: transparent; }
.header-main { z-index: 1000000;/* background:#F0EAD6; */background-color: transparent;padding-left: 70px !important;padding-right: 70px !important; }

.header-main .navbar-brand { font-weight: 600;font-size: 1.4rem; }
.header-main a { color: #343a40; }
.header-main a:hover { color: #0d6efd; }

.header-main ul li { margin-right: 30px;font-weight: 600; }
.header-main ul li a { color: #343a40; }
.header-main ul li a:hover { color: #0d6efd; }


.home-header-main-top { z-index: 1000000;background-color: transparent; }
.home-header-main { z-index: 1000000;/* background:#F0EAD6; */background-color: transparent;padding-left: 70px !important;padding-right: 70px !important; }

.home-header-main .navbar-brand { font-weight: 600;font-size: 1.4rem; }
.home-header-main a { color: #ffffff; }
.home-header-main a:hover { color: #0d6efd; }

.home-header-main ul li { margin-right: 30px;font-weight: 600; }
.home-header-main ul li a { color: #ffffff; }
.home-header-main ul li a:hover { color: #0d6efd; }


.web_image_cover {
  margin-top: -150px;
  margin-bottom: -150px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  filter:brightness(30%);
  pointer-events: none;

  object-fit: cover;
  height: 615px;
}

.web_image_cover::-webkit-media-controls {
  display: none;
}

.web_text_cover {
  margin: auto;
  width: 600px;
  position: relative;
  bottom: 230px;
}

.web_text_cover h1, .web_text_cover h5, .web_text_cover div { color: #fff;text-align: center; }
.web_text_cover div a { color: #fff; }



.special-bank { background-color: #000; }
.bank-body { margin: auto;width: 75%;padding-top: 80px;max-width: 1800px; }

.bank-body .bank-top { margin-left: 25px;width: 100px;cursor: pointer; }
.bank-body .bank-top h4 { color: #ffffff;font-weight: 600; }
.bank-body .bank-top a { color: #ffffff;text-decoration: none; }
.bank-body .bank-top .bi { color: #ffffff;font-size: 1.7rem;position: relative;top: 3px; }

.bank-body .bank-top-add { margin-left: 25px;width: 265px;cursor: pointer; }
.bank-body .bank-top-add h4 { color: #ffffff;font-weight: 600; }
.bank-body .bank-top-add a { color: #ffffff;text-decoration: none; }
.bank-body .bank-top-add .bi { color: #ffffff;font-size: 1.7rem;position: relative;top: 3px; }

.bank-add-info { margin-left: 25px;margin-bottom: -30px; }
.bank-add-info p { color: #ffffff; }

.all-bank-group { display: flex;padding-left: 20px;padding-right: 20px;padding-top: 20px;padding-bottom: 5px;flex-wrap: wrap; }
.all-bank-group .each-bank { width: 23.9%;margin-bottom: 13px; margin-right: 10px;padding-top: 16px;padding-left: 16px;padding-right: 16px;padding-bottom: 10px;height: 135px;border: 1px solid #000;background-color:#3b3b3b;border-radius: 7px; }
.all-bank-group .each-bank img { width: 235px;height: 60px;object-fit: contain; }

.all-bank-group .each-bank .each-bank-text { display: block;margin-top: 5px; }
.all-bank-group .each-bank .each-bank-text p { text-align: start;color: #ffffff; }
.all-bank-group .each-bank .each-bank-text span { text-align: start;position: relative;top: -18px;color: #ffffff; }

.all-bank-group .add-bank { width: 23.9%;margin-bottom: 13px;padding-top: 16px;padding-left: 16px;padding-right: 16px;padding-bottom: 10px;height: 135px;border: 1px dotted #ffffff;text-decoration: none;border-radius: 7px; }
.all-bank-group .add-bank p:nth-child(1) { text-align: center;margin-top: 21px;color:#ffffff; }
.all-bank-group .add-bank p:nth-child(2) { text-align: center;margin-top: -14px;color:#ffffff; }

.all-bank-group-add { display: flex;padding-left: 20px;padding-right: 20px;padding-top: 20px;padding-bottom: 5px;flex-wrap: wrap; }
.all-bank-group-add .each-bank { width: 23.9%;margin-bottom: 13px; margin-right: 10px;padding-top: 16px;padding-left: 16px;padding-right: 16px;padding-bottom: 10px;height: 135px;border: 1px solid #000;background-color:#3b3b3b;border-radius: 7px;cursor: pointer; }
.all-bank-group-add .each-bank img { width: 235px;height: 95px;object-fit: contain;display: block;margin-left: auto;margin-right: auto; }

.bank-footer { padding-left: 20px;padding-right: 20px;color:#ffffff; }
.bank-footer p a { text-decoration: none;color:#fd7e14; }
.bank-footer .bank-footer-add { display: flex; }
.bank-footer .bank-footer-add button { margin-right: 10px;border-radius: 15px; }
.bank-footer .bank-footer-add a { border-radius: 15px; }

.bank-footer-phone { display: none; }

.package-body {
  margin: auto;width: 80%;margin-top: 50px;
  max-width: 1800px;
}

.index-body {
  margin: auto;width: 80%;margin-top: 50px;
  max-width: 1800px;
}

.package-main {
  font-size: 1rem;
}

.history-subscribe-chose-feature {
  display: flex;
  width: 500px;
  margin-bottom: 40px;
}

.history-subscribe-chose-feature {
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
}

.history-subscribe-chose-feature-each {
  background-color:transparent;
  border: 1px solid #ced4da;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5%;
  margin-right: 20px;
  width: 20%;
  cursor: pointer;
  text-decoration: none;
}

.history-subscribe-chose-feature-each:hover {
  text-decoration: none;
}

.history-subscribe-chose-feature-each .logo {
  font-size: 1.8rem;
  color: #343a40;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.history-subscribe-chose-feature-each p {
  text-align: center;
  color: #343a40;
  font-size: 0.8rem;
}

.subscribe-chose-feature {
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
}

.subscribe-chose-feature-each {
  background-color:#fd7e14;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5%;
  margin-right: 20px;
  width: 20%;
  cursor: pointer;
}

.subscribe-chose-feature-each .logo {
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.subscribe-chose-feature-each p {
  text-align: center;
  color: #ffffff;
  font-size: 0.8rem;
}

.info-amount {
  visibility: hidden;
  width: 120px;
  background-color: #212529;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: 5px;
}

.subscribe-top-group {}
.subscribe-top-group .subscribe-top-group-amount { display: flex; }
.subscribe-top-group .subscribe-top-group-amount .logo { font-size: 1.3rem;margin-right: 8px;margin-top: -2px; }
.subscribe-top-group .subscribe-top-group-amount .logo2 { font-size: 1.1rem;margin-left: 8px;margin-top: -1px;cursor: pointer; }
.subscribe-top-group .subscribe-top-group-amount .logo2-hover:hover .info-amount { visibility: visible; }

.package-modal-page { margin-top: 30px;padding: 20px; }
.package-modal-page h5 { font-weight: 600; }

.deposit-modal-page { margin-top: 30px;padding: 20px;display: none; }
.deposit-modal-page h5 { font-weight: 600; }

.withdrawal-modal-page { margin-top: 30px;padding: 20px;display: none; }
.withdrawal-modal-page h5 { font-weight: 600; }

.subscribe_package_modal_form { margin-top: 20px; }
.subscribe_package_modal_form label { font-weight: 600; }
.subscribe_package_modal_form select { border-color:#ced4da;color:#343a40; }
.subscribe_package_modal_form input { border-color:#ced4da; }
.subscribe_package_modal_form .form-text { color:#000; }
.subscribe_package_modal_form .form-text a { text-decoration: none; }

@media (max-width: 600px) {
  .history-subscribe-chose-feature {
    display: flex;
    width: auto;
    margin-bottom: 40px;
  }
  .history-subscribe-chose-feature-each {
    background-color:transparent;
    border: 1px solid #ced4da;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5%;
    margin-right: 20px;
    width: 30%;
    cursor: pointer;
    text-decoration: none;
  }
  .history-subscribe-chose-feature-each p {
    /* display: none; */
  }
  .history-subscribe-chose-feature-each .logo {
    padding-bottom: 15px;
    font-size: 1.8rem;
    color: #343a40;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 490px) {
  .subscribe-chose-feature-each p {
    display: none;
  }
  .subscribe-chose-feature-each .logo {
    padding-bottom: 15px;
    font-size: 1.8rem;
    color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .history-subscribe-chose-feature-each p {
    display: none;
  }
}



















/* copy from admin for data table */
/* Table search button */
/* ref https://datatables.net/forums/discussion/70046/how-can-i-remove-all-sort-arrows-from-all-columns */

.page-content {
  margin: auto;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 80px;
}

table { font-size: 0.84rem; }
table .table_top_right * { font-size: 0.8rem; }
table .table_top_right i { font-size: 0.6rem; }
table thead { font-weight:normal; }
table thead th { font-weight: 500; }


.table > :not(:last-child) > :last-child > * {
  border-bottom-color: inherit;
}

/* table.dataTable thead th {
  border-bottom: none;
} */


table.dataTable>thead .sorting::before,
table.dataTable>thead .sorting_asc::before,
table.dataTable>thead .sorting_desc::before,
table.dataTable>thead .sorting_asc_disabled::before,
table.dataTable>thead .sorting_desc_disabled::before {

    content: "" !important;
}
  
 table.dataTable>thead .sorting::after,
 table.dataTable>thead .sorting_asc::after,
 table.dataTable>thead .sorting_desc::after,
 table.dataTable>thead .sorting_asc_disabled::after,
 table.dataTable>thead .sorting_desc_disabled::after {

    content: "" !important;
}
  
 table.dataTable>thead>tr>th:not(.sorting_disabled),
 table.dataTable>thead>tr>td:not(.sorting_disabled) {

}
  
 table.dataTable>thead>tr>th,
 table.dataTable>thead>tr>td {
  padding-left: 10px !important;
  padding-right: 10px !important;
}


table.dataTable>thead>tr>th:nth-child(1),
table.dataTable>thead>tr>td:nth-child(1) {
  min-width: 30px;
} 
table.dataTable>thead>tr>th:nth-child(2),
table.dataTable>thead>tr>td:nth-child(2) {
  min-width: 110px;
} 
table.dataTable>thead>tr>th:nth-child(3),
table.dataTable>thead>tr>td:nth-child(3) {
  min-width: 150px;
}
table.dataTable>thead>tr>th:nth-child(4),
table.dataTable>thead>tr>td:nth-child(4) {
  min-width: 140px;
}
table.dataTable>thead>tr>th:nth-child(7),
table.dataTable>thead>tr>td:nth-child(7) {
  min-width: 115px;
} 
table.dataTable>thead>tr>th:nth-child(8),
table.dataTable>thead>tr>td:nth-child(8) {
  min-width: 100px;
}




table.dataTable>tbody>tr>th {
  min-width: 20px;
}

table.dataTable>tbody>tr>td:nth-child(2) {

}
table.dataTable>tbody>tr>td:nth-child(3) {
  min-width: 80px;
  white-space: wrap !important;
  word-break: break-all !important;
  word-break: break-word !important;
  word-wrap: break-word !important;
}
table.dataTable>tbody>tr>td:nth-child(4) {
  min-width: 80px;
  white-space: wrap !important;
  word-break: break-all !important;
  word-break: break-word !important;
  word-wrap: break-word !important;
}
table.dataTable>tbody>tr>td:nth-child(5) {
  /* min-width: 90px; */
  min-width: 100px;
  white-space: wrap !important;
  word-break: break-all !important;
  word-break: break-word !important;
  word-wrap: break-word !important;
}
table.dataTable>tbody>tr>td:nth-child(6) {
  min-width: 100px;

}
table.dataTable>tbody>tr>td:nth-child(7) {
    min-width: 40px;
    white-space: wrap;
}
table.dataTable>tbody>tr>td:nth-child(8) {
    min-width: 40px;
    white-space: wrap;
}
table.dataTable>tbody>tr>td:nth-child(9) {
  min-width: 90px;
}


.search_group1 { 
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 300px;
  padding: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) 
}
.search_group2 { 
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 300px;
  padding: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) 
}
.search_group3 { 
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 300px;
  padding: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) 
}

.search_group1 .search_group_bottom { margin-top: 8px;margin-right: 5px; }
.search_group2 .search_group_bottom { margin-top: 8px;margin-right: 5px; }
.search_group3 .search_group_bottom { margin-top: 8px;margin-right: 5px; }


.search_table1:focus { border-color:#0d6efd !important;}
.search_table2:focus { border-color:#0d6efd !important;}
.search_table3:focus { border-color:#0d6efd !important;}

.table_top_right { margin-top: -0.5px;}
.arrow_icon { font-size: 0.6rem;color:#adb5bd;cursor: pointer; }
.search_icon { font-size: 0.6rem;color:#adb5bd;cursor: pointer; }


/* Customer info */
.fieldset-index-title  { padding-left: 72px; }
.index-title { font-size: 1rem;font-weight: 500;color:#464646; }
.setting_main { margin-bottom: 24px; }

.setting_modal_form { margin: auto;width: 600px;margin-left: 130px;margin-top: 40px; }
.setting_modal_form .submit_change { border-color:#ced4da;float: right;margin-right: 157px; }
.setting_modal_form .modal_form_group { flex-wrap: nowrap !important; }
.setting_modal_form .modal_form_group label { color:#343a40; }
.setting_modal_form .modal_form_group input { border-color:#ced4da; }
.setting_modal_form .modal_form_group button { border-color:#ced4da; }
.setting_modal_form .modal_form_group .modal_form_group_word { display: flex; }

/* .setting_modal_form_password .modal_form_group { flex-wrap: nowrap !important; } */
.setting_modal_form_password .modal_form_group label { color:#343a40; }
.setting_modal_form_password .modal_form_group input { border-color:#ced4da; }
.setting_modal_form_password .modal_form_group .modal_form_group_word { display: flex; }


/* customer_package_modal_form */
.customer_package_modal_form { margin-left: 20px; }
.customer_package_modal_form .modal_form_group { flex-wrap: nowrap !important; }
.customer_package_modal_form .modal_form_group label { color:#343a40; }
.customer_package_modal_form .modal_form_group input { border-color:#ced4da; }
.customer_package_modal_form .modal_form_group textarea { border-color:#ced4da; }
.customer_package_modal_form .modal_form_group select { border-color:#ced4da; }
.customer_package_modal_form .modal_form_group .modal_form_group_word { display: flex; }

.customer_package_modal_form .modal_form_group:nth-child(1) .modal_form_group_word { margin-left: 55px;width: 95px; }
.customer_package_modal_form .modal_form_group:nth-child(1) input { margin-left: -27px; }

.customer_package_modal_form .modal_form_group:nth-child(2) .modal_form_group_word { margin-left: 79px;width: 68px; }
.customer_package_modal_form .modal_form_group:nth-child(2) select { margin-left: -24px; }

.customer_package_modal_form .modal_form_group:nth-child(3) .modal_form_group_word { margin-left: 64px;width: 83px; }
.customer_package_modal_form .modal_form_group:nth-child(3) select { margin-left: -24px; }

.customer_package_modal_form .modal_form_group:nth-child(4) .modal_form_group_word { margin-left: 33px;width: 124px; }
.customer_package_modal_form .modal_form_group:nth-child(4) input { margin-left: -33px; }

/* customer_deduct_modal_form */
.customer_deduct_modal_form { margin-left: 20px; }
.customer_deduct_modal_form .modal_form_group { flex-wrap: nowrap !important; }
.customer_deduct_modal_form .modal_form_group label { color:#343a40; }
.customer_deduct_modal_form .modal_form_group input { border-color:#ced4da; }
.customer_deduct_modal_form .modal_form_group textarea { border-color:#ced4da; }
.customer_deduct_modal_form .modal_form_group select { border-color:#ced4da; }
.customer_deduct_modal_form .modal_form_group .modal_form_group_word { display: flex; }

.customer_deduct_modal_form .modal_form_group:nth-child(1) .modal_form_group_word { margin-left: 55px;width: 95px; }
.customer_deduct_modal_form .modal_form_group:nth-child(1) input { margin-left: -27px; }

.customer_deduct_modal_form .modal_form_group:nth-child(2) .modal_form_group_word { margin-left: 79px;width: 68px; }
.customer_deduct_modal_form .modal_form_group:nth-child(2) select { margin-left: -24px; }

.customer_deduct_modal_form .modal_form_group:nth-child(3) .modal_form_group_word { margin-left: -16px;width: 180px; }
.customer_deduct_modal_form .modal_form_group:nth-child(3) input { margin-left: -41px; }

.customer_deduct_modal_form .modal_form_group:nth-child(4) .modal_form_group_word { margin-left: 69px;width: 70px; }
.customer_deduct_modal_form .modal_form_group:nth-child(4) textarea { margin-left: -16px; }

/* customer_deposit_modal_form */
.customer_deposit_modal_form { margin-left: 20px; }
.customer_deposit_modal_form .modal_form_group { flex-wrap: nowrap !important; }
.customer_deposit_modal_form .modal_form_group label { color:#343a40; }
.customer_deposit_modal_form .modal_form_group input { border-color:#ced4da; }
.customer_deposit_modal_form .modal_form_group textarea { border-color:#ced4da; }
.customer_deposit_modal_form .modal_form_group select { border-color:#ced4da; }
.customer_deposit_modal_form .modal_form_group .modal_form_group_word { display: flex; }

.customer_deposit_modal_form .modal_form_group:nth-child(1) .modal_form_group_word { margin-left: 55px;width: 95px; }
.customer_deposit_modal_form .modal_form_group:nth-child(1) input { margin-left: -27px; }

.customer_deposit_modal_form .modal_form_group:nth-child(2) .modal_form_group_word { margin-left: -18px;width: 180px; }
.customer_deposit_modal_form .modal_form_group:nth-child(2) input { margin-left: -38px; }

.customer_deposit_modal_form .modal_form_group:nth-child(3) .modal_form_group_word { margin-left: 70px;width: 70px; }
.customer_deposit_modal_form .modal_form_group:nth-child(3) textarea { margin-left: -16px; }

.customer_deposit_modal_form .modal_form_group:nth-child(4) .modal_form_group_word { margin-left: 81px;width: 60px; }
.customer_deposit_modal_form .modal_form_group:nth-child(4) select { margin-left: -17px; }

/* Customer form group */
.customer_modal_form_reset_password { position: absolute;bottom: 0;margin-bottom: 80px;margin-left: 65px; }
.customer_modal_form_reset_password .modal_form_group label { margin-left: 4px;font-weight: 700; }
.customer_modal_form_reset_password .modal_form_group input { margin-left: -8px;border-color:#ced4da; }
.customer_modal_form_reset_password .modal_form_group span { margin-left: -17px;margin-top: -1px; }
.customer_modal_form_reset_password .modal_form_group button { border-color:#ced4da !important; }

.customer_modal_form { margin-left: 65px; }
.customer_modal_form .modal_form_group { flex-wrap: nowrap !important; }
.customer_modal_form .modal_form_group label { color:#343a40; }
.customer_modal_form .modal_form_group option { color:#343a40;padding: 10px; }
.customer_modal_form .modal_form_group input { border-color:#ced4da; }
.customer_modal_form .modal_form_group textarea { border-color:#ced4da; }
.customer_modal_form .modal_form_group select { border-color:#ced4da; }
.customer_modal_form .modal_form_group .modal_form_group_word { display: flex; }
.customer_modal_form .modal_form_group .modal_form_group_word span { color: red; }
.customer_modal_form .modal_form_group:nth-child(1) .modal_form_group_word { margin-left: 10px;width: 95px; }
.customer_modal_form .modal_form_group:nth-child(1) input { margin-left: -27px; }

.customer_modal_form .modal_form_group:nth-child(2) .modal_form_group_word { margin-left: 13px;width: 90px; }
.customer_modal_form .modal_form_group:nth-child(2) input { margin-left: -24px; }

.customer_modal_form .modal_form_group:nth-child(3) .modal_form_group_word { margin-left: 34px;width: 70px; }
.customer_modal_form .modal_form_group:nth-child(3) input { margin-left: -24px; }

.customer_modal_form .modal_form_group:nth-child(4) .modal_form_group_word { margin-left: 43px;width: 60px; }
.customer_modal_form .modal_form_group:nth-child(4) input { margin-left: -23px; }

.customer_modal_form .modal_form_group:nth-child(5) .modal_form_group_word { margin-left: 39px;width: 65px; }
.customer_modal_form .modal_form_group:nth-child(5) input { margin-left: -24px; }

.customer_modal_form .modal_form_group:nth-child(6) .modal_form_group_word { margin-left: 13px;width: 105px; }
.customer_modal_form .modal_form_group:nth-child(6) select { margin-left: -38px; }

.customer_modal_form .modal_form_group:nth-child(7) .modal_form_group_word { margin-left: -6px;width: 125px; }
.customer_modal_form .modal_form_group:nth-child(7) input { margin-left: -38px; }

.customer_modal_form .modal_form_group:nth-child(8) .modal_form_group_word { margin-left: 30px;width: 80px; }
.customer_modal_form .modal_form_group:nth-child(8) textarea { margin-left: -28px; }

.customer_modal_form .modal_form_group:nth-child(9) .modal_form_group_word { margin-left: 13px;width: 105px; }
.customer_modal_form .modal_form_group:nth-child(9) input { margin-left: -20px; }

.customer_modal_form .modal_form_group:nth-child(10) .modal_form_group_word { margin-left: 55px;width: 52px; }
.customer_modal_form .modal_form_group:nth-child(10) input { margin-left: -23px; }

.customer_modal_form .modal_form_group:nth-child(11) .modal_form_group_word { margin-left: 45px;width: 62px; }
.customer_modal_form .modal_form_group:nth-child(11) input { margin-left: -23px; }

/* Table Amount of Customer  */
.main_amount_group { display: block; }
.main_amount_group ul { display: contents;flex-wrap: wrap;list-style-type: none;margin-left: -30px; }
.main_amount_group ul li:nth-child(2) span { color:#0dcaf0; }
.main_amount_group ul li:nth-child(3) span { color:#0dcaf0; }
.main_amount_group ul li:nth-child(4) span { color:#0dcaf0; }
.main_amount_group ul li:nth-child(5) span { color:#0dcaf0; }
.main_amount_group ul li:nth-child(6) span { color:#dc3545; }

/* Table Action of Customer */
.main_action_group { display: block;width: 200px; }
/* .main_action_group .top_action_group { border-bottom: 1px solid #e9ecef;margin-bottom: 20px; } */
.main_action_group .top_action_group ul { display: inline-flex;flex-wrap: wrap;list-style-type: none;margin-left: -30px; }
.main_action_group .top_action_group ul li a { margin-right: 3px;margin-bottom: 3px;border-color:#ced4da !important; }
.main_action_group .top_action_group ul li .edit_action { margin-right: 3px;margin-bottom: 3px;border: 2.4px dotted #adb5bd !important; }

.main_action_group .bottom_action_group ul { display: inline-flex;flex-wrap: wrap;list-style-type: none;margin-left: -30px; }
.main_action_group .bottom_action_group ul a { margin-right: 3px;margin-bottom: 3px;border-color:#ced4da !important; }
.main_action_group .bottom_action_group ul li .claim_action { margin-right: 3px;margin-bottom: 3px;border: 2.4px dotted #adb5bd !important; }


/* Table Deposit View */
.table_deposit_view ul { list-style-type: none; }
.table_deposit_view ul li { color:#495057;font-weight: 700;margin-bottom: 3px; }
.table_deposit_view ul li span { color:#495057;font-weight: 400; }


/* System User form group */
.system_modal_form { margin-left: 80px; }
.system_modal_form .modal_form_group { flex-wrap: nowrap !important; }
.system_modal_form .modal_form_group input { border-color:#ced4da; }
.system_modal_form .modal_form_group select { border-color:#ced4da; }
.system_modal_form .modal_form_group .modal_form_group_word { display: flex; }
.system_modal_form .modal_form_group .modal_form_group_word span { color: red; }
.system_modal_form .modal_form_group:nth-child(3) .modal_form_group_word { margin-left: 24px;width: 55px; }
.system_modal_form .modal_form_group:nth-child(3) input { margin-left: -10px; }

.system_modal_form .modal_form_group:nth-child(4) .modal_form_group_word { margin-left: 34px;width: 53px; }
.system_modal_form .modal_form_group:nth-child(4) input { margin-left: -17px; }

.system_modal_form .modal_form_group:nth-child(5) .modal_form_group_word { margin-left: 36px;width: 45px; }
.system_modal_form .modal_form_group:nth-child(5) select { margin-left: -10px; }

.system_modal_form .modal_form_group:nth-child(6) .modal_form_group_word { margin-left: 30px;width: 60px; }
.system_modal_form .modal_form_group:nth-child(6) input { margin-left: -17px; }

/* System index group */
.system1 { margin-right: 120px; min-width: 130px; }
.system1 h3 { font-weight: 400; color:#464646; }
.system1 p { color:#b2b2b2; }

.system2 { margin-right: 120px; min-width: 130px; }
.system2 h3 { font-weight: 400; color:#464646; }
.system2 p { color:#b2b2b2; }

.system3 { margin-right: 120px; min-width: 130px; }
.system3 h3 { font-weight: 400; color:#464646; }
.system3 p { color:#b2b2b2; }

.system4 { margin-right: 120px; min-width: 130px; }
.system4 h3 { font-weight: 400; color:#464646; }
.system4 p { color:#b2b2b2; }

.system5 { margin-right: 120px; min-width: 130px; }
.system5 h3 { font-weight: 400; color:#464646; }
.system5 p { font-weight: 500; }

/* Month index group */
.month_deposit_amount { margin-right: 120px; min-width: 180px; }
.month_deposit_amount h3 { font-weight: 600; }
.month_deposit_amount p { font-weight: 500; }

.month_deposit_count { margin-right: 120px; min-width: 180px; }
.month_deposit_count h3 { font-weight: 400; color:#464646; }
.month_deposit_count p { color:#b2b2b2; }

.month_withdrawal_amount { margin-right: 120px; min-width: 180px; }
.month_withdrawal_amount h3 { font-weight: 600; }
.month_withdrawal_amount p { font-weight: 500; }

.month_customer { margin-right: 120px; min-width: 180px; }
.month_customer h3 { font-weight: 400; color:#464646; }
.month_customer p { color:#b2b2b2; }

/* Today index group */
.today_deposit_amount { margin-right: 120px; min-width: 180px; }
.today_deposit_amount h3 { font-weight: 600; }
.today_deposit_amount p { font-weight: 500; }

.today_deposit_count { margin-right: 120px; min-width: 180px; }
.today_deposit_count h3 { font-weight: 400; color:#464646; }
.today_deposit_count p { color:#b2b2b2; }

.today_withdrawal_amount { margin-right: 120px; min-width: 180px; }
.today_withdrawal_amount h3 { font-weight: 600; }
.today_withdrawal_amount p { font-weight: 500; }

.today_customer { margin-right: 120px; min-width: 180px; }
.today_customer h3 { font-weight: 400; color:#464646; }
.today_customer p { color:#b2b2b2; }


@media (max-width: 1410px) {
  .system1 { margin-right: 100px; min-width: 130px; }
  .system2 { margin-right: 100px; min-width: 130px; }
  .system3 { margin-right: 100px; min-width: 130px; }
  .system4 { margin-right: 100px; min-width: 130px; }
  .system5 { margin-right: 100px; min-width: 130px; }
}

@media (max-width: 1350px) {
  .system1 { margin-right: 70px; min-width: 130px; }
  .system2 { margin-right: 70px; min-width: 130px; }
  .system3 { margin-right: 70px; min-width: 130px; }
  .system4 { margin-right: 70px; min-width: 130px; }
  .system5 { margin-right: 70px; min-width: 130px; }

  .month_deposit_amount { margin-right: 80px; min-width: 180px; }
  .month_deposit_count { margin-right: 80px; min-width: 180px; }
  .month_withdrawal_amount { margin-right: 80px; min-width: 180px; }
  .month_customer { margin-right: 80px; min-width: 180px; }
  
  .today_deposit_amount { margin-right: 80px; min-width: 180px; }
  .today_deposit_count { margin-right: 80px; min-width: 180px; }
  .today_withdrawal_amount { margin-right: 80px; min-width: 180px; }
  .today_customer { margin-right: 80px; min-width: 180px; }
}

@media (max-width: 1250px) {
  .system1 { margin-right: 20px; min-width: 130px; }
  .system1 h3 { font-weight: 400; color:#464646; font-size: 0.9rem; }
  .system1 p { color:#b2b2b2; font-size: 0.8rem; }

  .system2 { margin-right: 20px; min-width: 130px; }
  .system2 h3 { font-weight: 400; color:#464646; font-size: 0.9rem; }
  .system2 p { color:#b2b2b2; font-size: 0.8rem; }

  .system3 { margin-right: 20px; min-width: 130px; }
  .system3 h3 { font-weight: 400; color:#464646; font-size: 0.9rem; }
  .system3 p { color:#b2b2b2; font-size: 0.8rem; }

  .system4 { margin-right: 20px; min-width: 130px; }
  .system4 h3 { font-weight: 400; color:#464646; font-size: 0.9rem; }
  .system4 p { color:#b2b2b2; font-size: 0.8rem; }

  .system5 { margin-right: 20px; min-width: 130px; }
  .system5 h3 { font-weight: 400; color:#464646; font-size: 0.9rem; }
  .system5 p { font-weight: 500; font-size: 0.8rem; }


  
  .month_deposit_amount { margin-right: 30px; min-width: 180px; }
  .month_deposit_amount h3 { font-weight: 600; font-size: 0.9rem; }
  .month_deposit_amount p { font-weight: 500; font-size: 0.8rem; }

  .month_deposit_count { margin-right: 30px; min-width: 180px; }
  .month_deposit_count h3 { font-weight: 400; color:#464646; font-size: 0.9rem; }
  .month_deposit_count p { color:#b2b2b2; font-size: 0.8rem; }
  
  .month_withdrawal_amount { margin-right: 30px; min-width: 180px; }
  .month_withdrawal_amount h3 { font-weight: 600; font-size: 0.9rem; }
  .month_withdrawal_amount p { font-weight: 500; font-size: 0.8rem; }
  
  .month_customer { margin-right: 30px; min-width: 180px; }
  .month_customer h3 { font-weight: 400; color:#464646; font-size: 0.9rem; }
  .month_customer p { color:#b2b2b2; font-size: 0.8rem; }



  .today_deposit_amount { margin-right: 30px; min-width: 180px; }
  .today_deposit_amount h3 { font-weight: 600; font-size: 0.9rem;}
  .today_deposit_amount p { font-weight: 500; font-size: 0.8rem;}

  .today_deposit_count { margin-right: 30px; min-width: 180px; }
  .today_deposit_count h3 { font-weight: 400; color:#464646; font-size: 0.9rem;}
  .today_deposit_count p { color:#b2b2b2; font-size: 0.8rem;}

  .today_withdrawal_amount { margin-right: 30px; min-width: 180px; }
  .today_withdrawal_amount h3 { font-weight: 600; font-size: 0.9rem;}
  .today_withdrawal_amount p { font-weight: 500;font-size: 0.8rem; }

  .today_customer { margin-right: 30px; min-width: 180px; }
  .today_customer h3 { font-weight: 400; color:#464646; font-size: 0.9rem;}
  .today_customer p { color:#b2b2b2; font-size: 0.8rem;}
}

@media (max-width: 1080px) {
  .today_body { display: contents; }
  .month_body { display: contents; }
  .system_body { display: contents; }
  .today_main { margin-left: 70px; margin-bottom: 44px; }
  .month_main { margin-left: 70px; margin-bottom: 44px; }
  .system_main { margin-left: 70px; margin-bottom: 44px; }

  .system1 { margin-bottom: 15px; }
  .system2 { margin-bottom: 15px; }
  .system3 { margin-bottom: 15px; }
  .system4 { margin-bottom: 15px; }
  .system5 { margin-bottom: 15px; }

  .month_deposit_amount { margin-bottom: 15px; }
  .month_deposit_count { margin-bottom: 15px; }
  .month_withdrawal_amount { margin-bottom: 15px; }
  .month_customer { margin-bottom: 15px; }

  .today_deposit_amount { margin-bottom: 15px; }
  .today_deposit_count { margin-bottom: 15px; }
  .today_withdrawal_amount { margin-bottom: 15px; }
  .today_customer { margin-bottom: 15px; }
  
  .fieldset-index-title  { padding-left: 12px; }

  .setting_modal_form { margin: 0;width: 600px;margin-left: 60px; }
  .setting_modal_form .submit_change { border-color:#ced4da;float: right;margin-right: 157px; }
  .setting_modal_form .modal_form_group { flex-wrap: wrap !important; }
}

@media (max-width: 991.98px) {
  .navbar .navbar-content .calendar_main { margin-left: -30px; }
}

@media (max-width: 780px) {
  .setting_modal_form { margin: auto;width: 600px;margin-left: -20px;margin-top: 40px; }
  .setting_modal_form .submit_change { border-color:#ced4da;float: right;margin-right: 157px; }
}

@media (max-width: 575px) {
  .setting_modal_form { margin: auto;width: 250px;margin-left: -20px;margin-top: 40px; }
  .setting_modal_form .submit_change { border-color:#ced4da;float: right;margin-right: 0px; }
}

@media (max-width: 400px) {
  .today_main { margin-left: 50px; }
  .month_main { margin-left: 50px; }
  .system_main { margin-left: 50px; }
}

@media (max-width: 330px) {
  .today_main { margin-left: 30px; }
  .month_main { margin-left: 30px; }
  .system_main { margin-left: 30px; }
}

@media (max-width: 276px) {
  .today_main { margin-left: 0; }
  .month_main { margin-left: 0; }
  .system_main { margin-left: 0; }
  .search_result_main { margin-left: 0px;margin-bottom: 20px; }
}

