/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color:#F5F5DC;
  
}

.header-main-top {

}

.header-main {
  background:#F0EAD6;
  padding-left: 70px !important;
  padding-right: 70px !important;
}

.header-main .navbar-brand {
  font-weight: 600;
  font-size: 1.4rem;
}

.header-main ul li {
  margin-right: 30px;
  font-weight: 600;
}



.special-bank { background-color: #000; }
.bank-body { margin: auto;width: 75%;padding-top: 80px;max-width: 1800px; }

.bank-body .bank-top { margin-left: 25px;width: 100px;cursor: pointer; }
.bank-body .bank-top h4 { color: #ffffff;font-weight: 600; }
.bank-body .bank-top a { color: #ffffff;text-decoration: none; }
.bank-body .bank-top .bi { color: #ffffff;font-size: 1.7rem;position: relative;top: 3px; }

.bank-body .bank-top-add { margin-left: 25px;width: 265px;cursor: pointer; }
.bank-body .bank-top-add h4 { color: #ffffff;font-weight: 600; }
.bank-body .bank-top-add a { color: #ffffff;text-decoration: none; }
.bank-body .bank-top-add .bi { color: #ffffff;font-size: 1.7rem;position: relative;top: 3px; }

.bank-add-info { margin-left: 25px;margin-bottom: -30px; }
.bank-add-info p { color: #ffffff; }

.all-bank-group { display: flex;padding-left: 20px;padding-right: 20px;padding-top: 20px;padding-bottom: 5px;flex-wrap: wrap; }
.all-bank-group .each-bank { width: 23.9%;margin-bottom: 13px; margin-right: 10px;padding-top: 16px;padding-left: 16px;padding-right: 16px;padding-bottom: 10px;height: 135px;border: 1px solid #000;background-color:#3b3b3b;border-radius: 7px; }
.all-bank-group .each-bank img { width: 235px;height: 60px;object-fit: contain; }

.all-bank-group .each-bank .each-bank-text { display: block;margin-top: 5px; }
.all-bank-group .each-bank .each-bank-text p { text-align: start;color: #ffffff; }
.all-bank-group .each-bank .each-bank-text span { text-align: start;position: relative;top: -18px;color: #ffffff; }

.all-bank-group .add-bank { width: 23.9%;margin-bottom: 13px;padding-top: 16px;padding-left: 16px;padding-right: 16px;padding-bottom: 10px;height: 135px;border: 1px dotted #ffffff;text-decoration: none;border-radius: 7px; }
.all-bank-group .add-bank p:nth-child(1) { text-align: center;margin-top: 21px;color:#ffffff; }
.all-bank-group .add-bank p:nth-child(2) { text-align: center;margin-top: -14px;color:#ffffff; }

.all-bank-group-add { display: flex;padding-left: 20px;padding-right: 20px;padding-top: 20px;padding-bottom: 5px;flex-wrap: wrap; }
.all-bank-group-add .each-bank { width: 23.9%;margin-bottom: 13px; margin-right: 10px;padding-top: 16px;padding-left: 16px;padding-right: 16px;padding-bottom: 10px;height: 135px;border: 1px solid #000;background-color:#3b3b3b;border-radius: 7px;cursor: pointer; }
.all-bank-group-add .each-bank img { width: 235px;height: 95px;object-fit: contain;display: block;margin-left: auto;margin-right: auto; }

.bank-footer { padding-left: 20px;padding-right: 20px;color:#ffffff; }
.bank-footer p a { text-decoration: none;color:#fd7e14; }
.bank-footer .bank-footer-add { display: flex; }
.bank-footer .bank-footer-add button { margin-right: 10px;border-radius: 15px; }
.bank-footer .bank-footer-add a { border-radius: 15px; }

.bank-footer-phone { display: none; }

.index-body {
  margin: auto;width: 80%;margin-top: 100px;
  max-width: 1800px;
}

.package-main {
  font-size: 1rem;
}

.subscribe-chose-feature {
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
}

.subscribe-chose-feature-each {
  background-color:#fd7e14;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5%;
  margin-right: 20px;
  width: 20%;
  cursor: pointer;
}

.subscribe-chose-feature-each .logo {
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.subscribe-chose-feature-each p {
  text-align: center;
  color: #ffffff;
  font-size: 0.8rem;
}

.info-amount {
  visibility: hidden;
  width: 120px;
  background-color: #212529;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: 5px;
}

.subscribe-top-group {}
.subscribe-top-group .subscribe-top-group-amount { display: flex; }
.subscribe-top-group .subscribe-top-group-amount .logo { font-size: 1.3rem;margin-right: 8px;margin-top: -2px; }
.subscribe-top-group .subscribe-top-group-amount .logo2 { font-size: 1.1rem;margin-left: 8px;margin-top: -1px;cursor: pointer; }
.subscribe-top-group .subscribe-top-group-amount .logo2-hover:hover .info-amount { visibility: visible; }

.package-modal-page { margin-top: 30px;padding: 20px; }
.package-modal-page h5 { font-weight: 600; }

.deposit-modal-page { margin-top: 30px;padding: 20px;display: none; }
.deposit-modal-page h5 { font-weight: 600; }

.withdrawal-modal-page { margin-top: 30px;padding: 20px;display: none; }
.withdrawal-modal-page h5 { font-weight: 600; }

.subscribe_package_modal_form { margin-top: 20px; }
.subscribe_package_modal_form label { font-weight: 600; }
.subscribe_package_modal_form select { border-color:#ced4da;color:#343a40; }
.subscribe_package_modal_form input { border-color:#ced4da; }
.subscribe_package_modal_form .form-text { color:#000; }
.subscribe_package_modal_form .form-text a { text-decoration: none; }

@media (max-width: 490px) {
  .subscribe-chose-feature-each p {
    display: none;
  }
  .subscribe-chose-feature-each .logo {
    padding-bottom: 15px;
    font-size: 1.8rem;
    color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}


